// Breadcrumbs
// -----------

.breadcrumb {
	background: @brandMedium;
	> li {
		color: @grayLighter;
		text-shadow: none;
		> a {
			color: @white;
			&:hover,
			&:active {
				color: @white;
			}
		}
		> a.dimmed_text {
			color: @white;
			&:hover,
			&:active {
				color: @white;
			}
		}
	}
}
.breadcrumb-button {
  margin-right: @marginSmall;
}
.breadcrumb-nav {
  margin-bottom: @baseLineHeight;
}
