// Buttons
// -------

input[type="submit"],
.path-admin .buttons input[type="submit"],
input[type="reset"],
input[type="button"],
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
td.submit input {
  display: inline-block;
  .ie7-inline-block();
  padding: (@paddingMini / 2) @paddingMini;
  margin-bottom: 0; // For input.btn
  margin-top: 1px;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  text-align: center;
  text-shadow: none;
  vertical-align: top;
  cursor: pointer;
  border: 0;
  color: @white;
  .border-radius(@borderRadiusSmall);
  .ie7-restore-left-whitespace(); // Give IE7 some love
  &:hover,
  &:focus {
    color: @grayLighter;
    text-decoration: none;
  }
  &:focus {
    .tab-focus();
  }
  &:hover {
    .opacity(85);
  }
  &.active,
  &:active {
    background-image: none;
    outline: 0;
  }
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    .opacity(65);
  }
}
input[type="button"] {
  background: @green;
  &:hover,
  &:focus {
    background: @green;
    outline: none;
  }
}
input[type="submit"],
.path-admin .buttons input[type="submit"],
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
td.submit input {
  background: @blue;
  &:hover,
  &:focus {
    background: @blue;
  }
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  // IE7 has some default padding on button controls
  *padding-top: 3px;
  *padding-bottom: 3px;
}
input[value~=Ok] {
  text-transform: uppercase;
}
