// Forms
// -----

.adminsearchform {
  margin-top: (@baseLineHeight / 2);
}

#adminsearchquery {
  max-width: 64%;
}

#coursesearch {
  margin-top: 0;
  text-align: left;
}

.coursesearchbox {
  margin-left: @marginSmall;
  padding-bottom: @paddingSmall;
}

div.jumpmenu {
  clear: both;
  margin-left: @marginSmall;
  padding-top: (@paddingSmall + 1);
  text-align: left;
}

#page-course-index {
  .singlebutton {
    text-align: left;
  }
}
#page-course-index-category {
  .categorypicker {
    margin-left: @marginSmall;
    text-align: left;
    .singleselect label {
      display: inline-block;
      .ie7-inline-block();
    }
  }
  .singlebutton {
    text-align: left;
  }
}

td.glossarysearchbox {
  padding-left: @paddingSmall;
  text-align: left;
  label {
    display: inline-block;
    .ie7-inline-block();
  }
}
