// Mixins
// ------

// Border radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}

// Custom border
.custom-border() {
  border: 1px dotted @borderColor;
}
.custom-border-top() {
  border-top: 1px dotted @borderColor;
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}

// IE7 inline-block
.ie7-inline-block() {
  *display: inline !important;
  *zoom: 1 !important;
}
.ie7-restore-left-whitespace() {
  *margin-left: .3em;

  &:first-child {
    *margin-left: 0;
  }
}
.ie7-restore-right-whitespace() {
  *margin-right: .3em;
}

// Webkit-style focus
.tab-focus() {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}