// Nav
// ---

// Nav bar
.navbar {
  .box-shadow(0 0 12px rgba(0,0,0,0.85));
}

.navbar-inverse .brand {
	background: url([[pix:theme|logo-ed-uni]]) @baseLineHeight @paddingMini no-repeat;
  color: @white;
  font-size: @fontSizeHighlight;
  height: @navbarHeight;
  line-height: @baseLineHeight;
  padding: 9px 0 31px 78px;
  .home {
    font-size: @fontSizeAlt;
  }
}
.navbar-inverse .logininfo {
  color: @white;
  font-size: @fontSizeMini;
	a {
	  color: @white;
	  &:hover,
	  &:active {
	    color: @white;
	  }
	}
}
.navbar-inverse .navbar-inner {
  background: @brandDarker;
  border: 0;
}

// Nav buttons
#navbuttons {
  margin-top: (@marginSmall * 2);
  padding-right: @paddingMini;
  text-align: right;
}
#page-mod-quiz-view #navbuttons,
#page-mod-glossary-view #navbuttons {
  margin-top: (@marginSmall * 2) !important;
}
