.block {
  background: @blockBackground;
  border: 0;;
  margin-bottom: @marginSmall;
  padding-top: 0;
  .border-radius(@borderRadiusSmall);
  .content {
    padding-left: (@baseLineHeight / 2);
    padding-top: @paddingMini;
  }
  .header {
    background: @brandLight;
    .border-radius(@borderRadiusSmall @borderRadiusSmall 0 0);
    .title .commands {
      padding: (@paddingMini / 2);
    }
    .block_action {
      line-height: (@baseLineHeight * 2);
    }
  }
}
.block_calendar_month {
  background: @blockBackgroundAlt;
}
.block_navigation {
  background: @blockBackground;
}
.block_recent_activity .activityhead {
  text-align: left;
}
.block_settings {
  padding-bottom: 0;
}

body {
  background: @bodyBackground;
}

.box {
  background-color: @white;
  .custom-border();
  .border-radius(@borderRadiusSmall);
  padding: @paddingSmall @paddingSmall @paddingMini @paddingSmall;
}
.block .box,
.box.mdl-align {
  background: transparent;
  border: 0;
  padding: 0;
}
#page-mod-page-view #region-main .box {
  padding-top: @paddingSmall;
}
#intro.generalbox {
  padding: @paddingSmall @paddingSmall @paddingMini @paddingSmall;
}
#page-mod-glossary-view #intro.generalbox {
  margin-bottom: @marginSmall;
}

.subcategories .category {
  margin-bottom: @marginSmall;
}
.course_category_tree .category > .info {
  background-color: @white;
  &:hover {
    background-color: @white;
  }
  .custom-border();
  .box-shadow(0 0 0 rgba(0,0,0,0));
}

.que .formulation,
.que .info {
  background-color: @white;
  .custom-border();
}

.modified {
  font-size: @fontSizeAlt;
  margin-top: (@marginSmall + 1);
  padding-left: (@paddingSmall + 1);
}

#page {
  padding-top: (@baseLineHeight);
}

#page-footer {
  .custom-border-top();
  font-size: @fontSizeSmall;
}

// Courses
.coursebox {
  > .info > .name,
  .content .summary,
  .content .teachers {
    float: none;
    width: auto;
  }
}

.course-content {
  ul.topics li.section {
    .content {
      margin: 0 @marginSmall;
    }
    .left {
      width: auto;
    }
    .summary {
      line-height: @baseLineHeight;
      margin-left: 0;
      padding-top: @paddingSmall;
    }
  }
  .single-section .section-navigation {
    padding: (@paddingSmall / 2) 0;
  }
}

.courses {
  .coursebox.even,
  .coursebox.odd {
    background-color: @white;
    &:hover {
      background-color: @white;
    }
  }
}

// Glossary
.glossarydisplay {
  background-color: @white;
  .custom-border();
  .border-radius(@borderRadiusSmall);
  .box-shadow(0 0 0 rgba(0,0,0,0));
  padding: @paddingMini @paddingSmall;
  .box {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

// Quizzes
#page-mod-quiz-view {
  #page .quizattempt,
  .quizgradefeedback,
  .quizinfo {
    margin-top: @marginSmall;
    text-align: left;
  }
  #page .quizattempt {
    background: none;
    border: 0;
    padding: 0;
  }
}

// Editing elements
#page-question-type-multichoice {
  div[id^=fitem_id_][id*=answer_],
  div[id^=fitem_id_][id*=fraction_],
  div[id^=fitem_id_][id*=feedback_] {
    background: @white;
  }
}
#fgroup_id_buttonar {
  background: transparent;
}

// Modals
.moodle-dialogue {
  top: 25% !important;
}
.moodle-dialogue-confirm .confirmation-dialogue .confirmation-message {
  text-align: left;
}
.moodle-dialogue-base .moodle-dialogue-wrap {
  border: 0;
  .border-radius(@borderRadiusSmall);
  .box-shadow(4px 4px 12px rgba(102,102,102,0.85));
  .moodle-dialogue-bd {
    color: inherit;
    font-size: @fontSizeAlt;
    line-height: @baseLineHeight;
  }
  .moodle-dialogue-hd {
    background: @brandMedium;
    border-bottom: 0;
    .border-radius(@borderRadiusSmall @borderRadiusSmall 0 0);
    color: @white;
    font-family: inherit;
    font-size: (@baseFontSize + 1);
    padding: 0;
    text-shadow: none;
    h1 {
      font-weight: normal;
    }
  }
}
