// Tables
// ------

#page-mod-glossary-view {
  .boxaligncenter {
    width: 100% !important;
  }
  table.glossarycategoryheader {
    margin-left: 0;
  }
}

.path-mod-glossary {
  table.glossarypost {
    margin: 0;
    width: 100%;
    .entry {
      .custom-border-top();
    }
  }
}
