// Tabs
// ----

.mod_tab_introbox {
  margin-bottom: @marginLarge;
}
.TabbedPanels {
  margin: 0 !important;
  padding: @paddingMedium 0 !important;
  width: auto;
}
.TabbedPanelsContent {
  padding: (@paddingMini / 2) @paddingMini !important;
}
.TabbedPanelsContentGroup {
  border-color: @borderColor !important;
}
.TabbedPanelsTab {
  background-color: @grayDimmed !important;
  border-bottom-color: @borderColor !important;
  border-left-color: @borderColor !important;
  border-right-color: @borderColor !important;
  border-top-color: @borderColor !important;
  color: @black !important;
  font-weight: normal !important;
  outline: 0 !important;
  padding: @paddingMini !important;
  &:hover {
    text-decoration: underline;
  }
}
.TabbedPanelsTabSelected {
  background-color: @brandMedium !important;
  border-bottom-color: @brandMedium !important;
  border-left-color: @brandMedium !important;
  border-right-color: @brandMedium !important;
  border-top-color: @brandMedium !important;
  color: @white !important;
  &:hover {
    text-decoration: none;
  }
}
