// Type
// ----

body {
  color: @textColor;
  font-family: @baseFontFamily;
}

// Links
a {
  color: @linkColor;
  &:hover,
  &:active {
    color: @linkColorHover;
  }
}
.brand a {
  color: @white;
}
.block a {
  color: @textColor;
}
a.glossary {
  background-color: @grayLighter;
  border: 1px dotted @borderColor;
  .border-radius(@borderRadiusSmall / 2);
  color: @black;
  font-weight: normal;
  margin: 0 (@marginMini / 4);
  padding: 0 (@paddingMini / 2);
  &:hover,
  &:active {
    color: @black;
  }
}

// Headings
h1, h2, h3 {
  font-weight: normal;
}
h2, h3 {
  line-height: (@baseLineHeight * 1.5);
}
h3 {
  font-size: @fontSizeLarge;
}
.block .header .title h2 {
  color: @blockHeaderColor;
  font-size: @fontSizeHighlight;
  font-weight: normal;
  line-height: (@baseLineHeight * 2);
  padding: 0 @paddingMini;
  text-shadow: none;
  text-transform: none;
}
h2.headingblock,
h2.main {
  color: @headingsColor;
  font-size: @fontSizeExtraLarge;
  font-weight: normal;
  line-height: (@baseLineHeight * 1.75);
  margin-bottom: @marginSmall;
  margin-left: 11px;
}
#page-mod-glossary-view table.glossarycategoryheader h2.main {
  margin-left: 0;
}
.block h3.main {
  padding: 3px 0;
}
h3.sectionname {
  margin-bottom: (@marginMini / 2);
}
.course-content .section-summary .summarytext {
  margin: (@marginMini / 2) 0;
}
.course-content .section-summary .section-title {
  margin: @marginMini 0;
}
#page-mod-page-view #region-main .box h3 {
  margin: 0 0 (@marginMini / 2) 0;
}
.course-content .single-section .section-navigation .title {
  text-align: left;
  font-size: @fontSizeExtraLarge;
  line-height: (@baseLineHeight * 1.75);
  font-weight: normal;
  margin-left: @marginSmall;
  padding-bottom: @paddingSmall;
  padding-top: @paddingSmall;
}

// Lists
.course-content ul.section {
  margin-left: 0;
}
.course-content ul.topics li.section {
  background: @white;
  &:hover {
    background-color: @white;
  }
  .custom-border();
  .border-radius(@borderRadiusSmall);
  margin-bottom: @marginSmall;
}
#page-mod-page-view #region-main .box li {
  line-height: (@baseLineHeight * 1.15);
}

// Misc
#page-mod-page-view #region-main .box p {
  line-height: (@baseLineHeight * 1.15);
}
