// Variables
// ---------

// Accent colors
@blue:                  #08c;
@charcoal:              #3c3c41;
@green:                 #51a351;
@red:                   #8F0222;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;
// Brand colors
@brandDarkest:          #284159;
@brandDarker:           #24466b;
@brandDark:             #516c89;
@brandMedium:           #8895a3;
@brandLight:            #cad8e5;
@brandLighter:          #ebf1f5;
@brandLightest:         #fafbfc;
@brandRed:              @red;
// Grays
@black:                 #333;
@gray:                  #868690;
@grayDark:              #595965;
@grayDarker:            #31303d;
@grayDimmed:            #ddd;
@grayLight:             #cfcfd1;
@grayLighter:           #fcfcf9;
@grayLightest:          #fcfdfe;
@white:                 #fff;
// Link colors
@linkColor:             @blue;
@linkColorHover:        @red;
@utilityLinkColor:      @black;
// Typography
@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        20px;
@fontSizeExtraLarge:    @baseFontSize * 1.7;  // ~24px
@fontSizeLarge:         @baseFontSize * 1.25; // ~18px
@fontSizeHighlight:     @baseFontSize * 1.15; // ~16px
@fontSizeAlt:           @baseFontSize * 0.93; // ~13px
@fontSizeSmall:         @baseFontSize * 0.85; // ~12px
@fontSizeMini:          @baseFontSize * 0.75; // ~11px
@headingsFontFamily:    inherit;
@headingsFontWeight:    300;
@headingsColor:         @brandDarkest;
@sansFontFamily:        Arial, Helvetica, sans-serif;
@textColor:             @black;
// Scaffolding
@bodyBackground:        @grayLightest;
@borderColor:           @grayDimmed;
// Blocks
@blockBackground:       @grayLighter;
@blockBackgroundAlt:	@grayLighter;
@blockColor:            @brandDarker;
@blockHeaderBackground:	@brandRed;
@blockHeaderColor:		@brandDarker;
// Component sizing
@marginExtraLarge:		56px;
@marginLarge:			20px;
@marginSmall:			14px;
@marginMini:			8px;
@paddingLarger:         32px;
@paddingLarge:          24px;
@paddingMedium:         18px;
@paddingSmall:          14px;
@paddingMini:            8px;
@borderRadiusLarge:      8px;
@borderRadiusSmall:      4px;
// Navbar
@navbarHeight:          20px;
